@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Festive&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* --primary-color: rgb(197, 59, 117); */
  /* --primary-color: rgb(120, 73, 126); */
  /* --primary-color: rgb(137, 104, 141); */
  /* --primary-color: rgb(57, 158, 91); */
  --primary-color: rgb(71, 71, 71);

  --in-stock: #4ad151;
  --low-stock: #fae361;
  --out-stock: #fd7777;

  --container-width: 900px;

  --body-color: #eeeeee;

  --element-color: rgb(221, 221, 221);
  --element-text-color: rgb(20, 20, 20);

  --overlay-area-color: rgba(255, 255, 255, 0.5);

  --banner-overlay: rgba(255, 255, 255, 0.65);
}

.dark {
  --body-color: rgb(22, 22, 22);

  --element-color: rgb(36, 36, 36);
  --element-text-color: rgb(223, 223, 223);

  --overlay-area-color: rgba(0, 0, 0, 0.5);

  --banner-overlay: rgba(0, 0, 0, 0.75);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
}

.hover:hover {
  opacity: 0.5 !important;
}

.show {
  display: block !important;
}

.hide {
  opacity: 0;
}

.hide-cart {
  transform: translateX(100%);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--element-color);
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--element-text-color);
}

* {
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  transition: 0.2s;
}

button {
  padding: 5px 8px;
  cursor: pointer;
  border: none;
  outline: none;
  /* border-radius: 2px; */
  transition: 0.2s;
}
button:hover {
  opacity: 0.9;
}
